# sample env variables
COMPASS_URL="https://api.compass.com"
OCEANBASE_URL="OCEANBASE_URL=mysql://your-user-name:your-password@obmt6pb9nrl5dk0w-mi.aliyun-cn-hangzhou-internet.oceanbase.cloud:3306/mcpadvisor"
MEILISEARCH_INSTANCE=local
MEILISEARCH_LOCAL_HOST=http://localhost:7700
MEILISEARCH_MASTER_KEY=xxx